{% extends "basedashboardone.html" %}
{% block content %}
<div class="page-header">
   
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Guru</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Guru</h4>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <form class="forms-sample" method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.nama_guru.label(class="form-label") }}
                        {{ form.nama_guru(class="form-control", size=32) }}
                        {% for error in form.nama_guru.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}